/* ========== DARK MODE ========== */
:root {
    --color-gradient: linear-gradient(90deg, #eee, #f9f9f9, #eee);
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --body-background: #e0f7fa;
    --container-color: #ffffff;
    --word-color: #004d40;
    --tarjima-color: #00796b;
    --title-color: #00796b;
}

.dark-mode {
    --color-gradient: linear-gradient(
        to right,
        #656871 0%,
        #888b94 20%,
        #656871 40%,
        #656871 100%
    );
    --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    --body-background: #2e3b4e; 
    --container-color: #3b4a61;
    --word-color: #f1f1f1; 
    --tarjima-color: #a8d8e8; 
    --title-color: #e1f5fe; 
}

* {
    -webkit-tap-highlight-color: transparent;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: var(--body-background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}

.container {
    text-align: center;
    width: 85%;
    max-width: 1200px;
    height: 90vh;
    overflow-y: auto;
    background-color: var(--container-color);
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    transition: all 0.3s ease;
}
#toggle {
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    &:active {
        transform: scale(0.95);
    }
}
#toggle::selection {
    background-color: transparent;
}

h1 {
    color: var(--title-color);
    margin-bottom: 20px;
    font-size: 2.5rem;
    transition: all 0.3s ease;
}

.flashcards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    transition: all 0.3s ease;
}

.flashcard {
    background-color: var(--container-color);
    border-radius: 12px;
    box-shadow: var(--box-shadow);
    padding: 20px;
    width: 280px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transition: all 0.3s ease;
}

.flashcard:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.flashcard .word {
    font-size: 24px;
    font-weight: bold;
    color: var(--word-color);
    transition: all 0.3s ease;
    margin-bottom: 10px;
}

.flashcard .definition {
    font-size: 18px;
    color: var(--tarjima-color);
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.flashcard .sentence {
    font-size: 16px;
    color: var(--word-color);
    margin-bottom: 10px;
    font-style: italic;
    transition: all 0.3s ease;
}

.flashcard .sentenceTR {
    font-size: 16px;
    color: var(--tarjima-color);
    margin-bottom: 10px;
    font-style: italic;
    transition: all 0.3s ease;
}

.flashcard .audio-icon {
    margin-top: 10px;
    cursor: pointer;
    font-size: 24px;
    transition: color 0.3s ease;
}

::-webkit-scrollbar {
    display: none;
}

.scroll-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
/* ====== Loading ====== */
.loading {
    position: relative;
}

.loading::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.25rem;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: var(--color-gradient);
    background-size: 200%;
    animation: loading 1s infinite reverse;
}

@keyframes loading {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

@media (max-width: 440px) {
    .container {
        width: 100%;
        height: 100vh;
        border-radius: 0px;
        padding: 5px;
    }
}
